.cot1:hover{
    text-decoration:underline;
}


.to{
    background-color: #FFFFFF;
    width: 1190px;
    height: 1200px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 1%;
}

#bgr a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
}

#bgr a:hover{
    background-color: #F2F2F2;   
}

#input-group{
    margin-top: 6px;
    height: 150px;
    width: 50%;
  }
  #input-group .input-group{
    height: 55px;
    width: 210px;
    margin-right: 154px;
  }
  #input-group .icon-search{
    margin-left: 10px;
    margin-right: 10px;
  }
  #input-icon{
    background-color: #F0F2F5;
    border-radius: 30px;
    height: 36px;
    width: 210px;
  }
  #input-icon input{
    width: 157px;
  }
  #text-input-group{
    width: 120px;
    color: white;
    opacity: 1;
    background: linear-gradient(118.55deg, #42BBFF -12.3%, #4085EC 110.19%);
    border-radius: 0px 10px 10px 0px;
  }

.outline-none{
   outline:none;
}

#bgr i{
    cursor: pointer;
   width: 50px;
   height: 36px;
   line-height: 18px;
   text-align: center;
   padding: 10px;
   border-radius: 7px;
   background-color: #E4E6EB;
}

#bgr i:hover{
    background-color: #D8DADF;   
}

#allFr{
    cursor: pointer;
    color: #1876F2;
    margin-left: 15px;
    border-bottom: 3px solid #1876F2;
    padding-bottom: 20px;
    border-left: 10px;
    padding-left: 20px;
    padding-right: 11px;
}

 #allFr2 span{
   cursor: pointer;
   width: 50px;
   height: 36px;
   line-height: 18px;
   text-align: center;
   padding: 10px;
   border-radius: 7px;
   color: #65676B;
}

 #allFr2 span:hover{
    background-color: #F2F2F2;   
}

.hang3 {
    margin-left: 15px;
    margin-top: 30px;
    width: 570px;
    height: 103px;
    background-color: white;
    border: 2px solid #F7F7F7;
    border-radius: 5px;
}

.hang3 .cot1 span{
    color: #050505 !important;
}

.hang3 img{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
    object-fit: cover;
}

.hang3 img:hover{
    background-image: none;
    filter: brightness(0.95);
}

.name{
    color: #050505;
    font-size: 20px;
    font-weight: 500;
}

.name:hover{
    text-decoration: underline;
}

.chungFr{
    font-size: 12px;
}

.chungFr:hover{
    text-decoration: underline;
}

.cot3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.cot3:hover{
    background-color: #F2F2F2;
}

.cot123{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cot2{
    display: flex;
    flex-direction: column;
}